*{
	margin:0px;
	padding:0px;
}

h1{
	bold 20px arial;
}

h2{
	bold 10px arial;
}

header,nav,table{
	display:block;
	
}

body{	
	width:1000px;
	margin:20px auto;
}
#big_wrapper4{
	
	//margin:20px auto;
    	//border:1px solid black;
}
#main_heading4{
	padding:20px;
	border:1px solid black;
	background:yellow;
	margin:20px 20px 50px 20px;
}

#navigation_bar4 li{
	display:inline-block;
	list-style=none;
	font:bold 20px;
	background:blue;
	margin:10px 20px 70px 20px;
	
	}


#tab1{
	float:left;
	margin:10px 400px 400px 400px ;
	width:200px;
	
	
	
}